html{
    font-family: Roboto-Medium;
}

a {
    text-decoration: none;
    color: #c23333;
}

.nav {
    position: initial;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #413434;
    -webkit-box-shadow: 0 2px 5px 0 #413434;
    -moz-box-shadow: 0 2px 5px 0 #413434;
    box-shadow: 0 2px 5px 0 #413434;
}

.nav li {
    width: 100%;
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    font-size: 12px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #ffffff;
    color: #c23333;
}

.nav img {
    padding: 0;
    margin: 0;
}

.nav li .active {
    background-color: #c23333;
    color: #ffffff;
}

.nav li:not(:first-child) {
    height: 0;
}

.nav.responsive li {
    height: initial;
}

#menuicon {
    float: right;
    display: block;
    width: initial;
}

.content{
    font-family: Roboto-Medium;
    margin-top: 10px;
    width: 100%;
}

.content_w_sidebar {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .1em;
}

#sung-songs table, #sung-songs th, #sung-songs td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.message {
    background-color: #ffcc00;
    color: #000000;
    font-size: 2em;
    border-radius: 3px;
}

.number{
    font-size:3em;
}

.title{
    font-size: 1.5em;
}

#solo-sopran {
    background-color:#ff0000;
    color:#000000;
    font-size:3em;
}

#solo-alt {
    background-color:#ffff00;
    color:#000000;
    font-size:3em;;
}

#solo-tenor {
    background-color:#67bd5a;
    color:#000000;
    font-size:3em;
}

#solo-bass {
    background-color:#0000ff;
    color:#ffffff;
    font-size:3em;
}

#solo-no {
    background-color:#000000;
    color:#000000;
    font-size:3em;
}

.song{
    display: inline-block;
    background-color:#000000;
    color:#ffffff;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.song-number{
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 3em;
    font-family: OPTICalculator;
    padding-left: 8px;
    padding-right: 8px;
}

.song-number-yellow{
    background-color: #000000;
    color: #ffff00;
    border-radius: 5px;
    font-size: 3em;
    font-family: OPTICalculator;
    padding-left: 8px;
    padding-right: 8px;
}

.sidebar{
    background-color: #877676;
    color: white;
    z-index: 3;
    overflow: auto;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: -7px;
    margin-top: 10px;
    right: 0;
    padding: 10px;
    bottom: 0;
}

.sidebar #state > .title{
    display: none;
}

.sidebar #state h1{
    margin-top: 0.1em;
    font-size: 1.2em;
}

.sidebar #state .number{
    font-size: 1.5em;
}

.sidebar #state .song-number{
    font-size: 1.5em;
}

.sidebar #state .song-number-yellow{
    font-size: 1.5em;
}

.sidebar #solo-sopran {
    background-color:#ff0000;
    color:#000000;
    font-size:1.2em;
}

.sidebar #solo-alt {
    background-color:#ffff00;
    color:#000000;
    font-size:1.2em;
}

.sidebar #solo-tenor {
    background-color:#67bd5a;
    color:#000000;
    font-size:1.2em;
}

.sidebar #solo-bass {
    background-color:#0000ff;
    color:#ffffff;
    font-size:1.2em;
}

.sidebar #solo-no {
    background-color:#000000;
    color:#000000;
    font-size:1.2em;
}

@font-face {
    font-family: DejaVuSans;
    src: url(/static/fonts/DejaVuSans.ttf);
}

@font-face {
    font-family: DejaVuSerif;
    src: url(/static/fonts/DejaVuSerif.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/static/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: OPTICalculator;
    src: url(/static/fonts/OPTICalculator.otf);
}

@media screen and (min-width: 1010px) {
    .sidebar {
        display: block;
        position: fixed !important;
        width: 280px;
        top: 58px;
        height: 100%;
        margin: 0;
    }
    .content_w_sidebar {
        width: calc(100% - 300px);
    }
    .nav {
        position: sticky;
    }
    .nav li {
        border-right: 1px solid lightgray;
        width: initial;
    }
    .nav li a {
        padding: 17px 16px;
        font-size: 19px;
    }
    .nav li:not(:first-child) {
        height: initial;
    }
    #menuicon {
        display: none;
    }
    .nav.responsive li {
        border-right: 1px solid lightgray;
        width: initial;
    }
    .nav.responsive li a{
        padding: 17px 16px;
        font-size: 19px;
    }
    .nav li a:hover {
        background-color: #ffffff;
        color: #c23333;
    }
}
